[Unit]
Description=Control Pandora through a website using pianobar and libpiano.

[Service]
ExecStart=/var/turbo/remodora/remodora
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
